@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import "https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap";

/* CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.facility-details-container {
  padding: 0 100px 0 100px;
  font-family: "DM Sans", sans-serif;
  width: 100vw;
  /* background-color: sandybrown; */
}

.facility-details-container nav {
  margin-top: 40px;
  width: 110%;
}
.facility-details-container nav ul {
  display: flex;
}

.facility-details-container nav ul li {
  list-style-type: none;
  /* background-color: #f13054; */
}

.facility-details-container nav ul li:nth-child(5) {
  /* width: 0%; */
}

.facility-details-container nav ul li:nth-child(6) {
  border: #191e51 1px solid;
  padding: 5px;
  /* width: 10%; */
}

.facility-details-container nav ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  /* line-height: 21px; */
  color: rgba(13, 36, 60, 0.75);
}
.facility-details-active {
  color: #f13054 !important;
}
.facility-details-logo {
  margin-right: 412px;
}
.facility-details-container nav ul li:not(.facility-details-logo) {
  margin-right: 50px;
}
.facility-book-now {
  margin-right: 0;
}

.facility-details-title-control {
  display: flex;
  margin-top: 76px;
  margin-bottom: 29px;
}
.facility-details-title-control h2 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  color: #191e51;
  margin-right: auto;
}
.facility-details-title-control span {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;

  color: #f13054;
}

main {
  width: 100%;
}

.facilities-details-inner-container {
  display: grid;
  grid-template-columns: 60% 35%;
  grid-gap: 100px;
  width: 100%;
}

/* START OF MAIN HALF SECTION  */
.facility-details-desc-section {
  /* width: 118%; */
  /* padding: 0 10%; */
  /* background-color: royalblue; */
}
.facility-details-desc-section .facility-img {
  padding: 4px;
  width: 693px;
  height: 356px;
  left: 160px;
  top: 219px;
  background: #ffffff;
  box-shadow: 4px 4px 14px rgba(65, 82, 118, 0.1);
  border-radius: 6px;
}

.facility-details-desc-section .facility-img img {
  border-radius: 6px;
}

/* FACILITY DESCRIPTION TITLE START */
.facility-details-desc-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* REVIEWS STYLING */

#facilities-review-ctn {
  background-color: white;
  /* background-color: teal; */
  height: 120vh;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-ctn {
  height: 100%;
}

.review-head {
  margin: none;
  margin-bottom: 0px;
  padding: 3%;
  padding-bottom: 0;
}

.review-boxes {
  margin: 0;
  padding: 3%;
  padding-right: 1.8%;
  overflow-y: scroll;
  overflow-y: hidden;
  height: 80%;
  box-shadow: 4px 4px 10px 10px rgba(80, 84, 92, 0.1);
}

.review-boxes::-webkit-scrollbar {
  display: none;
}
.box {
  background-color: white;
  margin: none;
  margin-bottom: 3%;
  border-radius: 6px;
  border: grey 1px solid;
  padding: 4% 4.5%;
  padding-right: 4%;
  box-sizing: border-box;
}

.reviewer-details {
  width: 130px;
  margin-bottom: 20px;
  font-family: "Roboto Condensed", sans-serif;
}

.reviewer-details img {
  height: 50px;
  width: 50px;
  border-radius: 6%;
}

.name_date {
  float: right;
}

.reviewer-name {
  font-weight: 800;
}

.review-date {
  font-weight: 100;
}

.reviewer-comment {
  font-size: 1vw;
  margin-top: -10px;
}
